<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="invoice_style.css">
	</head>
	<body>
		<div id="content">
			<div id="header">
				<h1>{{companyName}}</h1>
				<h2 class="text-right">Faktura</h2>
			</div>
		</div>
		<div id="content">
			<div id="content-header">
				<div class="content-header-box">
					<p>Fakturadatum: {{invoiceDate}}
					<p>Fakturanummer: {{invoiceId}}
					<p>Betalningsvilkor: {{paymentTerms}} dagar
					<p>Vår referens: {{companyRef}}
					<p>Er referens: {{customerRef}}
				</div>
				<div class="content-header-box">
					<p>Kund: {{customerName}}
					<p>{{customerStreet}}
					<p>{{customerPostal}} {{customerCity}}
				</div>
			</div>
			<div id="content-main">
				<h3>Specification</h3>
				<table>
					<thead>
						<tr>
							<th>Beskrivning</th>
							<th>Styckpris</th>
							<th>Antal</th>
							<th>Momssats</th>
							<th>Nettopris</th>
							<th>Momsbelopp</th>
							<th>Bruttopris</th>
						</tr>
					</thead>
					<tbody>
						{{#products}}
						<tr>
							<td>{{description}}</td>
							<td>{{price_no_vat}}</td>
							<td>{{quantity}}</td>
							<td>{{prettyVat}}</td>
							<td>{{sumExVat}}</td>
							<td>{{sumVat}}</td>
							<td>{{prettySumInclVat}}</td>
						</tr>
						{{/products}}
					</tbody>
				</table>
			</div>
			<div id="content-footer">
				{{#product_aggr}}
				<p>Totalt momsbelopp: {{totalVat}}
				<p>Att betala: {{totalSum}}
				{{/product_aggr}}
			</div>
		</div>
		<div id="footer">
			<div id="footer">
				<div class="content-footer-box">
					<p>
						Adress:<br>
						{{companyName}}<br>
						{{companyStreet}}<br>
						{{companyCity}} {{companyPostal}}
					</p>
				</div>
				<div class="content-footer-box">
					<p>
						Telefon:<br>
						{{companyPhone}}<br>
						{{companyMobile}}
					</p>
				</div>
				<div class="content-footer-box">
					<p>
						E-post:<br>
						{{companyEmail}}<br>
						Webb:<br>
						{{companyWeb}}
					</p>
				</div>
				<div class="content-footer-box">
					<p>
						Org.nummer: {{companyOrgId}}<br>
						Momsregnr: {{companyVatId}}<br>
						{{companyBankId}}<br>
						Godkänd för F-skatt
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
