body {
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
}

div {
	margin: 0em;
	padding: 0em;
	border: 0px solid #bbb;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	padding: 5px;
	text-align: left;
}

td, tr {
	border: 0px solid #000000;
	padding: 5px;
}

hr {
	border: 1px solid #000000;
}

p {
	margin: 0;
}

#header-left {
	display:inline-block;
	vertical-align: top;
	width:28em;
}

#header-right {
	display:inline-block;
	vertical-align: top;
	width:28em;
}

.full-fill {
	width:20em;
	padding: 0.3em;
	padding-left: 1em;
}

.half-fill {
	width:8em;
	padding: 1em;
}

.header-box {
	display:inline-block;
	border: 1px solid #000000;
	margin-right: 1em;
	margin-bottom: 1em;
	vertical-align: top;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
}

.header-bottom-box {
	display:inline-block;
	vertical-align: top;
	text-align: left;
	margin-right: 0em;
	width: 28em;
}

.content-header-box {
	display:inline-block;
	width:30%;
	border: 1px solid #000000;
	padding: 2%;
	margin-right: 5%;
	vertical-align: top;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
}


.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

#specification {
	font-weight: bold;
	font-size: 1.5em;
}

#spec-table-head {
	border: 1px solid #000000;
}

#spec-table {
	width: 100%;
}

#sum-table: {
	border: 0px;
}



.content-footer-box {
	text-align:left;
	border: 1px solid #000000;
	width: 0% auto;
	margin-left: 54%;
	padding: 2%;
	font-size: 1em;
	font-weight: bold;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
}

.footer-box {
	display:inline-block;
	vertical-align: top;
	text-align: left;
	margin-right: 1%;
	width: 10em;
}
