<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="invoice_style.css">
	</head>
	<body>
		<!--
		<p>{{paymentTerms}}
		<p>{{companyRef}}
		<p>{{invoiceDate}}
		<p>{{invoiceId}}
		<div>
			{{#products}}
			<p>{{description}}
			<p>{{price_no_vat}}
			<p>{{quantity}}
			<p>{{vat}}

			{{/products}}
		</div>
		-->
		<h1>{{companyName}}</h1>
		<h2>Faktura</h2>
		<p>Fakturadatum: {{invoiceDate}}
		<p>Fakturanummer: {{invoiceId}}
		<p>Betalningsvilkor: {{paymentTerms}} dagar
		<p>Vår referens: {{companyRef}}
		<p>Er referens: {{customerRef}}
		<p>Kund: {{customerName}}
		<p>{{customerStreet}}
		<p>{{customerPostal}} {{customerCity}}
		<p>Specification
		<table border=0 cellpadding=10>
			<tr>
				<td>Beskrivning</td>
				<td>Styckpris</td>
				<td>Antal</td>
				<td>Momssats</td>
				<td>Nettopris</td>
				<td>Momsbelopp</td>
				<td>Bruttopris</td>
			{{#products}}
			<tr>
				<td>{{description}}</td>
				<td>{{price_no_vat}}</td>
				<td>{{quantity}}</td>
				<td>{{prettyVat}}</td>
				<td>{{sumExVat}}</td>
				<td>{{sumVat}}</td>
				<td>{{prettySumInclVat}}</td>
			</tr>
			{{/products}}
		</table>
		<br><br>
		{{#product_aggr}}
		<p>Totalt momsbelopp: {{totalVat}}
		<p><b>Att betala: {{totalSum}}<b>
		{{/product_aggr}}
		<!--
		<div id="wrapper">
			<div id="header">Header</div>
			<div id="content">
				<div id="content-left"></div>
				<div id="content-main"></div>
				<div id="content-right"></div>
			</div>
			<div id="footer"></div>
			<div id="bottom"></div>
		</div>
		-->
	</body>
</html>
