body {
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
}

div {
	margin: 0em;
	padding: 0em;
	border: 0px solid #bbb;
}

table {
	border-collapse: collapse;
}

td, th, tr {
	padding: 10px;
}

#wrapper {
}

#header {
}

#content {
}

#content-header {
}

#content-main {
}

#content-footer {
}


.content-header-box {
	display:inline-block;
	width:30%;
	border: 1px solid #000000;
	padding: 2%;
	margin-right: 5%;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

#footer {
}

.content-footer-box {
	display:inline-block;
	vertical-align: top;
	text-align: left;
	margin-right: 2%;
}
