body {
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
}

div {
	margin: 0em;
	padding: 0em;
	border: 0px solid #bbb;

}

table {
	border-collapse: collapse;
}

td, th, tr {
	border: 1px solid #000000;
	padding: 10px;
}

#wrapper {
}

#header {
}

#content {
}

#content-header {
}

#content-main {
}

#content-footer {
}


.content-header-box {
	display:inline-block;
	width:30%;
	border: 1px solid #000000;
	padding: 2%;
	margin-right: 5%;
	vertical-align: top;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

#footer {
}

#specification {
	font-weight: bold;
	font-size: 1.5em;
}

#spec_table {
	width: 100%;
}

.content-footer-box {
	text-align:left;
	border: 1px solid #000000;
	width: 0% auto;
	margin-left: 54%;
	padding: 2%;
	font-size: 1em;
	font-weight: bold;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
}

.footer-box {
	display:inline-block;
	vertical-align: top;
	text-align: left;
	margin-right: 2%;
	width: 12em;
}
