<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="invoice_style.css">
	</head>
	<body>
		<div id="header">
			<h1>{{companyName}}</h1>
			<h2 class="text-left">Faktura</h2>
		</div>
		<div id="content">
			<div id="content-header">
				<div class="content-header-box">
					<p>Fakturadatum: {{invoiceDate}}
					<p>Fakturanummer: {{invoiceId}}
					<p>Betalningsvilkor: {{paymentTerms}} dagar
					<p>Förfallodatum: {{expirationDate}}
					<p>Vår referens: {{companyRef}}
					<p>Er referens: {{customerRef}}
				</div>
				<div class="content-header-box">
					<p>Kund: {{customerName}}
					<p>{{customerStreet}}
					<p>{{customerPostal}} {{customerCity}}
				</div>
			</div>
			<div id="content-main">
				<h3 id="specification">Specifikation</h3>
				<hr>
				<table id="spec_table">
					<thead id="spec_table_head">
						<tr>
							<th>Beskrivning</th>
							<th>Antal</th>
							<th>À pris</th>
							<!--<th>Momssats</th>-->
							<!--<th>Nettopris</th>-->
							<!--<th>Momsbelopp</th>-->
							<th>Summa</th>
						</tr>
					</thead>
					<tbody>
						{{#products}}
						<tr>
							<td>{{description}}</td>
							<td>{{quantity}}</td>
							<td>{{price_no_vat}} {{currency}}</td>
							<!--<td>{{prettyVat}}</td>-->
							<!--<td>{{sumExVat}} {{currency}}</td>-->
							<!--<td>{{sumVat}} {{currency}}</td>-->
							<td>{{sumInclVat}} {{currency}}</td>
						</tr>
						{{/products}}
					</tbody>
				</table>
			</div>
			<div id="content-footer">
				<table id="sum_table" class="no-border">
					<thead>
						<tr>
							<th>Netto</th>
							<th>Exkl Moms</th>
							<th>Moms %</th>
							<th>Moms {{currency}}</th>
							<th>ATT BETALA</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							{{#product_aggr}}
							<td>{{totalSum}}</td>
							<td>{{totalExclVat}}</td>
							<td>25 %</td>
							<td>{{totalVat}}</td>
							<td id="totalSum">{{totalSum}}</td>
							{{/product_aggr}}
						</tr>
					</tbody>
				</table>
				<!--
				{{#product_aggr}}
				<p class="content-footer-box">
				Totalt momsbelopp, 25%: {{totalVat}} {{currency}}
				</p>
				<p class="content-footer-box">
				Att betala: {{totalSum}} {{currency}}
				</p>
				{{/product_aggr}}
				-->
			</div>
		</div>
		<div id="footer">
			<hr>
			<div id="footer">
				<div class="footer-box">
					<p>
						Adress:<br>
						{{companyName}}<br>
						{{companyStreet}}<br>
						{{companyCity}} {{companyPostal}}
					</p>
				</div>
				<div class="footer-box">
					<p>
						Telefon:<br>
						{{companyPhone}}<br>
						{{companyMobile}}
					</p>
				</div>
				<div class="footer-box">
					<p>
						E-post:<br>
						{{companyEmail}}<br>
						Webb:<br>
						{{companyWeb}}
					</p>
				</div>
				<div class="footer-box">
					<p>
						Org.nummer: {{companyOrgId}}<br>
						Momsregnr: {{companyVatId}}<br>
						Godkänd för F-skatt
					</p>
				</div>
				<div class="footer-box">
					<p>
						Bankgiro: {{companyBankId}}<br>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
